/* Put your styles here */

body {
  background: #fff;
  color: #333;
  font-size: 1em;
  font-family: sans-serif;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

a, a:active, a:visited {
  color: #99f;
}

label, input {
    display: block;
    margin-top: 10px;
}​
